* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

.anchor{
  display: block;
  height: 15px; /*same height as header*/
  margin-top: -16px; /*same height as header*/
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #ebebfa;
}


header img{
  display:block;
  height:80%;
  width: 80%;
  margin: 15px auto;
}

p{
  text-align: justify;
  margin: 5px 0;
}

#toggle{
  display: none;
}

label {
  font-size: 1.4em;
  color:green;
  display: none;
}
#title{
  font-size: 1.3em;
  color: yellow;
  text-align: center;
  height:37px;
  border-radius: 29px;
  background-color: black;
  width:180px;
}

#navbar{
  position: fixed;
  min-width: 240px;
  top:0px;
  left:0;
  width: 250px;
  height: 100%;
  border-right: solid;
  border-color:rgba(0,22,22,0.4);
  background-color: #e6e6ff;
}

#navbar #social-media-horizon
{
  display:flex;
  justify-content:center;
}

#navbar #social-media-horizon li
{
  padding: 5px;
}

#navbar #social-media-horizon li a
{
  color: green;
  font-weight: bold;
}

#navbar ul li
{
    list-style: none;
}

#navbar #vertical-function{
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar #vertical-function li{
  border-right: 0;
  padding:15px 30px;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar #vertical-function li:first-child {
  margin-top: 7px;

}

#navbar #vertical-function li:hover{
  background-color: green;
}


#navbar #vertical-function a {
    color:navy;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

#navbar #vertical-function a:hover {
    color:yellow;
}

#main-doc{
  position: absolute;
  margin: 10px 10px 110px 260px;

}

section article{
  color: #4d4e53;
  margin:10px 30px;
  font-size: 0.98em;
}

section li{
  margin: 15px 0 0 21px;
}

.modules {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.modules .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 10%;
  color:darkorange;
}

.modules .dev{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.modules .dev h3{
  color:green;
}

h3{
  color: blue;
}

table{
  margin: 10px 0 10px 0;
  border: 1px solid #b3b3ff;
  width: 100%;
}

th, td{
  padding: 5px;
  border: 1px solid #b3b3ff;
}

th{
  background-color: #e6e6ff;
  color: green;
}

@media screen and (max-width: 820px){
  body{
    background-color: #FFF;
  }
  #navbar{
    position: fixed;
    top:0px;
    background-color: #000;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 80px;
    border: none;
    z-index:1;
    -webkit-box-shadow: inset 0 2px 2px #eee, 0 0 8px #eee;
            box-shadow: inset 0 2px 2px #eee, 0 0 8px #eee;
  }

  #main-doc{
    position: relative;
    margin: 90px 0 0 0;
  }

  #logo{
    position:fixed;
    top:0;
    min-height: 75px;
    padding: 0px 30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
  }
  #logo img{
    width: 50px;
    height:50px;
    text-align: center;
    margin-left: 0px;
    border: 2px solid #FFF;
    border-radius: 2px;
  }
  #navbar #social-media-horizon li a
  {
    font-size: 1.0em;
    color:orange;
  }

  label{
    color:orange;
    font-size: 1.4em;
    display: block;
    cursor: pointer;
  }

  #navbar #vertical-function li
  {
    padding:9px 29px;
    border-bottom: 1px dashed #4d6853;
  }

  #toggle:checked + #vertical-function {
      display: block;
  }

  #navbar #vertical-function a:hover
  {
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #000;
  }

  .anchor{
    display: block;
    height: 85px; /*same height as header*/
    margin-top: -90px; /*same height as header*/
  }

  #navbar #vertical-function{
    position:absolute;
    top:80px;
    height: 300px;
    width: 100%;
    display: none;
    background-color: #d2f7da;
  }

  #title{
    margin: 10px;
    text-align: left;
    padding-left:20px;
    border-radius: 0 30px 30px 0;
  }
}
