/**CSS file **/
html, body {
  font-family: "Arial", Helvetica, sans-serif;
  min-width: 90%;
  color:navy;
}

#main {
  margin: 30px auto;
  padding: 10px;
  border: 0px solid;
  border-radius: 15px;
  background-color: #e6e6ff;
  -webkit-box-shadow: inset 0 1px 4px #eee, 0 0 8px #eee;
          box-shadow: inset 0 1px 1px #eee, 0 0 8px #eee;
}

img{
  max-width:100%;
  display:block;
  height:auto;
  margin: auto;
  border-radius: 40px;
}

#title-img {
  text-align: center;
  margin:25px;
  font-weight:bold;
  color: blue;
}

ul{
  margin:0 auto;
  text-align:left;
}
li{
  margin:10px;
}
